/* .weatherforecaste-container {
    float:right;
    width:50%;
    height:60%;
    background-color: var(--white);

} */

.table-forecaste{
    width:100%;
    margin-top:10px;

}
.table-forecaste tr td{

}