/* You can add global styles to this file, and also import other style files */
:root {
  --purple: #880ed4;
  --white: #fff;
  --dark-shadow: rgba(0, 0, 0, 0.3);
  --light-shadow: rgba(255, 255, 255, 0.1);
  --light-purpule: #e3ccf2;
  --black: #000;
}
body {
  background-color: var(--purple);
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
